@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a New Product</h1>

<div class="crud">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Name</label>
           <input class="form-control" @Html.EditorFor(model => model.Name)
        </div>

        <div>
            <label>Origin</label>
            <input class="form-control" @Html.EditorFor(model => model.Origin)
        </div>

        <input type="submit" value="Add new Product" class="btn" />
    }
</div>

