@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Product</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Name</label>
       <input class="form-control" @Html.EditorFor(model => model.Name)
    </div>

    <div>
        <label>Origin</label>
        <input class="form-control" @Html.EditorFor(model => model.Origin)
    </div>

    <input type="submit" value="Add new Product" class="btn btn-info" />
}

<p>@Html.ActionLink("Back to Product page", "Index")</p>