@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this product?</h1>
<div class="crud" style="width:300px">
    <h2 class="product-listing">@Html.DisplayFor(model => model.Name)</h2>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>

