@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="crud">
    <h2>Edit this product</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" @Html.EditorFor(model => model.Name)
        </div>

        <div class="form-group">
            <label>Origin</label>
           <input class="form-control" @Html.EditorFor(model => model.Origin)
        </div>

        <input type="submit" value="Edit Product" class="btn" />
    }
</div>

