<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gummi Bear Kingdom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Products", "Index", "Products")</li>
        </ul>
    </div>
    </nav>
    <div class="container-fluid text-center">
        @RenderBody()
    </div>
</body>
</html>
