<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container text-center">
        @RenderBody()
    </div>
</body>
</html>
