label{
    color: ghostwhite;
}

h2{
    color: ghostwhite;
}

.form-control{
    width: 500px;
    margin: auto;
}

.btn{
    margin-top: 15px;
}

#banner{
    border: 0.5px solid grey;
    border-radius: 10px;
    position: relative;
    background-image: url("../img/banner.jpg");
    height: 500px;
}

.title{
    background-color: #BF3F3F;
    border-radius: 5px;
    display: inline-block;
    color: ghostwhite;
    padding: 5px;
}

nav.navbar{
    background-color:#BF3F3F;
   
}

a.navbar-brand{
    color: ghostwhite;
}


a{
    color: ghostwhite;
}

.link{
    background-color: #BF3F3F;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

li.link{
    font-size: 14px;
    
}

.product-listing{
    display: inline-block;
    border-radius: 5px;
    height: 100px;
    background-color:#BF3F3F; 
}

.crud{
    border-radius: 5px;
    background-color:#BF3F3F;
    display: inline-block;
    padding: 10px;
}

